@charset "UTF-8";

@font-face {
    font-family: 'andr' ;
    src: url(fontes/idroid.otf) format(opentype);
}

body {
    background-color: rgb(238, 255, 188);
}

header {
    background-color: green;
    border-top: px;
}

header > div {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
}

header > div > a {
    text-decoration: none;
}

main {
    background-color: white;
    padding-bottom: 100px;
}

article{
    background-color: white;
}

main > h1 {
    font-family: 'andr', 'Times New Roman', Times, serif;
}

main > h2 {
    font-family: 'andr', 'Times New Roman', Times, serif;
    background-color: rgb(238, 255, 188);
    margin: 10px;
}

/*
#android {
    display: inline;
}
*/
