@charset "UTF-8";

/*
Ordem gerada pelo Adobe Cores

Vermelho - #DB2D2A
Verde - #449C60
Verde claro - #2ADB62
Marrom - #864746
Verde Escuro - #3F5C48
Mais escuro - #332C2C
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'fdroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


:root {
    --cor0: #db2d2ab6;
    --cor1: #449C60;
    --cor2: #2ADB62;
    --cor3: #864746;
    --cor4: #3F5C48;
    --cor5: #332C2C;

    --font-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --font-android: 'fdroid', 'Times New Romaan', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor2);
    font-family: var(--font-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}


header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 4px 5px 2px rgba(0, 0, 0, 0.495);
}

header > p {
    font-family: var(--font-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px; /*Centralizar melhor na direita*/
    padding-left: 10px; /*Centralizar melhor na esquerda*/
    /* Com isso qquando a tela diminuir ele nao ira ficar espremido */
    margin: auto;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.495);
}

main {
    background-color: white;
    padding: 20px;
    /*border-radius: 10px;*/
    border-bottom-left-radius: 10px; /* Parte inferior da esquerda */
    border-bottom-right-radius: 10px; /* Parte inferior da direita */

    min-width: 280px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.406);
    margin-bottom: 50px;  /* Usado para desgrudar a parte inferior do rodape */ 
}

.pequena {
    max-width: 300px;
    display: block;
    margin: auto;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.432);
}

nav > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

nav > a:hover {
    color: violet;
    background-color: #DB2D2A;
    padding: 11px;
    padding-left: 20px;
    border-radius: 7px;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:active {
    color: red;
}

main h1 {
    font-family: var(--font-android);
}

main h2 {
    font-family: var(--font-android);
}

ul {
    padding-left: 25px;
}


footer {
    background-color: #332C2C;
}

footer > p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

footer > p > a:hover {
    color: #DB2D2A;
    font-family: var(--font-android);
}

footer > p > a:active {
    color: violet;
}

aside > ul > li {
    font-weight: normal;
    font-style: none;
}

/*
article > #bugd {
    align-items: center;
}
*/